h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: #FFCD38;
}

/* #divMailEnvoye {
    display: flex;
    align-items: center;
    justify-content: center; 
   
}  */

#imgMail {
    animation-direction: normal;
    animation-duration: 5s;
    animation-name: glissement;
    animation-iteration-count: infinite;
    
}

#messageContact {
    border: 1px solid wheat;
    border-radius: 30px;
}

#tel {
    text-decoration: none;
    font-size: 45px;
    color: firebrick;

}

#tel:hover {
    font-weight: bold;
}

#textWhite {
    color: white;
}

#bodyMessageEnvoye {
    background: whitesmoke;
}

#divMessageEnvoye {
    margin: 0 auto;
    background: #541690;
    color: azure;
    border: 1px solid brown;
    border-radius: 10%;
    align-items: center;
    align-content: center;
    text-align: center;
}

.dwd
{
    font-weight: bolder;
    font-size: 5rem;
   font-family: "Binjay";
   color: antiquewhite;
}

.fondDePage {
    background: linear-gradient(white, black);
}

.fondNoir {
    background: black;
    border-top: .1px solid white;
}

@keyframes glissement {
    from {
      margin-left: -30%;
      width: 300%;
    }
  
    to {
      margin-left: 100%;
      width: 100%;
    }
  }

@media screen and (max-width: 767px) {
    #reseauSociau {
        margin-left: 80px;
    }
}

@font-face
{
    font-family: "Binjay";
    src: url(../src/Binjay.otf) format('opentype');
}